* {
    margin: 0;
    padding: 0;
    font-family: 'Faustina', serif;
}
.left-section {
padding-bottom: 10px;
}
.logo {
    font-size: 64px;
    color: white;
    padding-left: 40px;
    cursor: pointer;


}
.logo:hover {
    color: rgb(0, 0, 0);
}
.right-section {
padding-top: 20px;

}
ul {
    list-style: none;
    display: flex;
}
a {text-decoration: none;
    color: white;
   margin-right: 20px; 
   font-size: 32px;
}
a:hover {
    color: black;
}

.header {
    background-color:  #069696;
    padding-top: 0px;
    padding-bottom: 30px;
    box-shadow: 0px 10px 10px rgba(10, 9, 9, 0.5);
    height: 50px;
    width: 100%;
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: space-between;
}


